<ion-header> 
<ion-toolbar color="primary">
    <ion-icon name="arrow-back-outline" slot="start" size="large"(click)="back()"></ion-icon>
  <ion-title><h3 align="left">Mail</h3></ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="send">
    
    <ion-item>
      <ion-textarea placeholder="Please enter your message here ..."></ion-textarea>
    </ion-item>
  <ion-button color="primary" expand="block" class="button">Send<ion-icon name="send" slot="end" size="small"(click)="back()"></ion-icon></ion-button>
</div>
</ion-content>
